:root {
    --gapping: 30px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 25vh 1fr;
    background-color: pink;
}

.header {
    background-color: #fff;
    padding: 0 30px;
    grid-column: 2/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: repeat(2, 1fr); 
}

.header .top {
    display: grid;
    grid-template-columns: 8fr repeat(2, 75px) 3fr;
    gap: 5px;
}

.header .bottom {
    display: grid;
    grid-template-columns: 4fr repeat(3, 1fr);
    gap: 5px;
}

.header > * > *{
    border: 1px solid black;
}



.sidebar {
    background-color: skyblue;
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 12vh 55vh 25vh;
    gap: 7vh;
}

.dashboard {
    grid-row: 1/2;
    border: 1px solid black;
}

.control {
    border: 1px solid skyblue;
    background-color: #fff;
}

.user-controls {
    grid-row: 2/3;
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 1vh;
}

.setting-controls {
    grid-row: 3/4;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1vh;
}

#user-control-1 {
    grid-row: 1/2;
}

.content {
    background-color: orange;
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.content > * {
    padding: 10px;
}

.main {
    background-color: gray;
    grid-column: 1/2;
}

.main .projects {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gapping);
}

.project {
    background-color: #fff;
    height: 200px;
    border-radius: 5px;
}

.content-header {
    height: 50px;
    width: 100%;
    background-color: #aaa;
}

.sides {
    display: grid;
    grid-column: 2/-1;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
    gap: var(--gapping);
}

.sides .announcements {
    background-color: pink;
    grid-column: 1/2;
}

.sides .trending {
    background-color: aquamarine;
    grid-column: 2/-1;
}