:root {
    --gapping: 20px;
    --icon-container: 50px;
    --header-icon: 25px;
    --sidebar-icon: 30px;
    --content-bg: #EAEAEA;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 25vh 1fr;
}

.header {
    background-color: #fff;
    padding: 0 30px;
    grid-column: 2/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 2fr 3fr; 
    box-shadow: 5px 0 3px gray;
}

.header .top {
    display: grid;
    grid-template-columns: 5fr var(--header-icon) 70px 1fr;
    gap: 10px;
    align-items: center;
}

.header .bottom {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.search-bar {
    display: flex;
    padding: 0 100px 0 20px;
    align-items: center;
}

.search-icon {
    width: var(--header-icon);
    height: var(--header-icon);
    margin: 5px;
}

.pfp {
    height: 50px;
    width: 50px;
    background-color: #e99b26;
    margin: 10px;
    border-radius: 25px;
}

h3 {
    font-size: 22px;
}

.search {
    flex: 1;
    border: none;
    background-color: #efefef;
    height: 25px;
    border-radius: 25px;
    padding: 0 10px;
}

.greeting-card {
    display: grid;
    grid-template-columns: 70px 1fr;
    justify-content: center;
    align-items: center;
}

.greeting > *{
    margin: 3px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

button {
    flex: 1;
    height: 35px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: #36aad8;
}

.greeting p {
    font-size: small;
    font-weight: 500;
    text-transform: capitalize;
}

.search:focus {
    outline: none;
    border: 1px solid #222;
}

.sidebar {
    background-color: #36aad8;
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 12vh 45vh 20vh;
    gap: 7vh;
}

svg {
    color: white;
    height: var(--sidebar-icon);
    width: var(--sidebar-icon);
}

.dashboard {
    display: grid;
    grid-template-columns: var(--icon-container) 1fr;
    justify-content: center;
    align-items: center;
}

.dashboard svg {
    height: 50px;
    width: 50px;
}

.dashboard h1 {
    color: white;
}

.control {
    display: grid;
    grid-template-columns: var(--icon-container) 1fr;
    justify-content: center;
    align-items: center;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control h3 {
    font-size: medium;
    margin: 0;
    color: white;
}

.user-controls {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.setting-controls {
    grid-row: 3/4;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1vh;
}

.content {
    background-color: var(--content-bg);
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.content > * {
    padding: var(--gapping);
}

.main {
    background-color: var(--content-bg);
    grid-column: 1/2;
}

.main .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gapping);
}

.project {
    background-color: #fff;
    height: 200px;
    border-radius: 7px;
    display: grid;
    grid-template-columns: 10px 1fr;
    box-shadow: 3px 2px 5px gray;
}

.stripe {
    grid-column: 1/2;
    background-color: orange;
    height: 100%;
    width: 10px;
    border-radius: 7px 0 0 7px;
}

.project-content {
    display: grid;
    grid-template-rows: 25px 1fr;
    padding: 20px;
}

.project-content * {
    margin: 0;
}

.project-content p {
    color: #AAA;
    font-size: 15px;
}

.project-display {
    grid-column: 2/-1;
    padding: 10px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.project-icons {
    display: grid;
    grid-template-columns: 1fr repeat(3, var(--icon-container));
}

.content-header {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.content-header p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.sides {
    display: grid;
    grid-column: 2/-1;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
    gap: var(--gapping);
}

.sides .announcements {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
}

.sides .trending {
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
}

.announcement-tab, .trending-tab{
    flex: 1;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 2px 5px gray;
}

.announcement-tab {
    display: grid;
    padding: 20px;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.anc {
    border: 2px solid #ccc;
    border-right: none;
    border-left: none;
}

.anc:first-child {
    border: none;
}

.anc:last-child {
    border: none;
}

.anc * {
    margin: 5px 0;
}

.anc p {
    font-size: 12px;
    color: #afafaf;
}

.trending-tab {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding: 15px 20px;
}

.trending-sect {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: center;
    align-items: center;
}

.trending-sect .pfp {
    margin: 0;
    width: 45px;
    height: 45px;
}

.trending-content p {
    margin: 2px 10px;
    font-size: small;
}

.title {
    font-weight: 500;
}

.subtitle {
    font-weight: 300;
    color: #4f4f4f;
}
