:root {
    --gapping: 20px;
    --header-icon: 25px;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
}

body {
    display: grid;
    margin: 0;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 25vh 1fr;
    background-color: pink;
}

.header {
    background-color: #fff;
    padding: 0 30px;
    grid-column: 2/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 2fr 3fr; 
}

.header .top {
    display: grid;
    grid-template-columns: 5fr var(--header-icon) 70px 1fr;
    gap: 10px;
    align-items: center;
}

.header .bottom {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.search-bar {
    display: flex;
    padding: 0 100px 0 20px;
    align-items: center;
}

.search-icon {
    width: var(--header-icon);
    height: var(--header-icon);
    margin: 5px;
}

.pfp {
    height: 50px;
    background-color: red;
    margin: 10px;
    border-radius: 25px;
}

h3 {
    font-size: 22px;
}

.search {
    flex: 1;
    border: none;
    background-color: #efefef;
    height: 25px;
    border-radius: 25px;
    padding: 0 10px;
}

.greeting-card {
    display: grid;
    grid-template-columns: 70px 1fr;
    justify-content: center;
    align-items: center;
}

.greeting > *{
    margin: 3px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

button {
    flex: 1;
    height: 35px;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    background-color: #0088ff;
}

.greeting p {
    font-size: small;
    font-weight: 500;
    text-transform: capitalize;
}

.search:focus {
    outline: none;
    border: 1px solid #222;
}

.sidebar {
    background-color: skyblue;
    grid-column: 1/2;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 12vh 55vh 25vh;
    gap: 7vh;
}

.dashboard {
    grid-row: 1/2;
    border: 1px solid black;
}

.control {
    border: 1px solid skyblue;
    background-color: #fff;
}

.user-controls {
    grid-row: 2/3;
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 1vh;
}

.setting-controls {
    grid-row: 3/4;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1vh;
}

#user-control-1 {
    grid-row: 1/2;
}

.content {
    background-color: orange;
    grid-row: 2/-1;
    grid-column: 2/-1;
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.content > * {
    padding: var(--gapping);
}

.main {
    background-color: gray;
    grid-column: 1/2;
}

.main .projects {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gapping);
}

.project {
    background-color: #fff;
    height: 200px;
    border-radius: 5px;
}

.content-header {
    height: 50px;
    width: 100%;
    background-color: #aaa;
}

.sides {
    display: grid;
    grid-column: 2/-1;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
    gap: var(--gapping);
}

.sides .announcements {
    background-color: pink;
    grid-column: 1/2;
}

.sides .trending {
    background-color: aquamarine;
    grid-column: 2/-1;
}